$("body.persona .container .contents .row .span12").empty();
$("body.persona .container .contents .row .span12").append("<h3>Мои данные</h3>");
//$("body.persona .container .contents .row .span12").append("<%#= escape_javascript(render :partial => 'table_cvs' )%>");
//initDeleteLinks();
