<div class="span9">
  <h2><%= @position.title %></h2>
  <p>описание:<%= @position.description %></p>
</div>
<div class="span6">
  <div><%= link_to 'Добавить вакансию', new_company_position_path, :class => "btn success" %></div>
</div>