<div class="span3">
  &nbsp;
  <%#= render :partial => (current_user.is_company? ? 'shared/company_sidebar' : 'shared/employee_sidebar') %>
</div>
<div class="span12">
  <h1>и это только главная страница...</h1>
</div>
