/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
      /* Specific jumbotrons
      ------------------------- */
      /* supporting docs pages */
      .subhead {
        background-color: #767d80;
        background-repeat: no-repeat;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#565d60), to(#767d80));
        background-image: -webkit-linear-gradient(#565d60, #767d80);
        background-image: -moz-linear-gradient(#565d60, #767d80);
        background-image: -o-linear-gradient(top, #565d60, #767d80);
        background-image: -khtml-gradient(linear, left top, left bottom, from(#565d60), to(#767d80));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#565d60', endColorstr='#767d80', GradientType=0); /* IE8 and down */
      }
      .subhead .inner {
        padding: 36px 0 27px;
      }
      .subhead h1,
      .subhead p {
        text-align: left;
      }
      .subhead h1 {
        font-size: 40px;
      }
      .subhead p a {
        font-weight: normal;
      }
      .jumbotron p.samle_search {
        text-align: left;
        font-size: 20px;
        line-height: 27px;
        font-weight: lighter;
      }
      .jumbotron a.sample_position {
        border-bottom: 1px dotted #fff;
        text-decoration:none
      }



header nav ul {
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
header nav ul li {
  display: inline;
}
#flash_notice, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}
#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

div.alert-message {
	position: absolute;
	right:5px;
}

/*span.help-inline div.alert-image {*/
    /*display: inline;*/
    /*width: 24px;*/
    /*height: 24px;*/
    /*background: url('/assets/alert_square_red.png')*/
/*}*/

div.error {
  border: 1px solid #EE5F5B;
  border-radius: 3px 3px 3px 3px;
}

/* MASTHEAD TABS */

#siteNav {
  list-style: none outside none;
/*  margin-top: 42px; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 940px; 
}

#siteNav li {
  float:left;
  margin-right: 3px;
  border-bottom: 1px solid #ADDFEA;
}

#siteNav li a {
  background: url("/assets/sprites/buttons-general.gif") repeat-x scroll 0 -984px transparent;
  border-color: #ADDFEA #ADDFEA -moz-use-text-color;
  border-style: solid solid none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-width: 1px 1px 0;
  color: #0A5E72;
  float: left;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 18px 7px;
  text-decoration: none;

}

#siteNav li a:hover {
  background: url("/assets/sprites/buttons-general.gif") repeat-x scroll 0 -1026px transparent;
}

.listings div.hero-unit {
  background-color: #FFFFFF;
  border: 1px dashed lightGray;
  padding: 30px;
}

div.span9.search {
  margin: 0 -20px;
}

form input.error {
    border-color: #EE5F5B;
    color: #B94A48;
}

form input.error:focus {
  border-color: #953B39;
  box-shadow: 0 0 6px #D59392;
}
